# Ignore node_modules
/node_modules
/client/node_modules
/server/backend/node_modules

# Ignore environment files
.env
client/.env
server/backend/.env

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore production build
/build

# Ignore miscellaneous files
.DS_Store
.vscode/
.idea/
